*.meta
*.DS_Store
Temp/
*.csproj
*.sln
*.userprefs
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
panorama.sln
panorama.userprefs
